# Zero-shot All-Test Summary

- Datasets: 16
- Success: 16
- Failed: 0

| dataset_name                            | status   |   n_rows_scored |   avg_nll |   avg_ppl |   spearman |     pearson |   top_hit_overall | output_csv                                                                                        | plot_png                                                                                                          |
|:----------------------------------------|:---------|----------------:|----------:|----------:|-----------:|------------:|------------------:|:--------------------------------------------------------------------------------------------------|:------------------------------------------------------------------------------------------------------------------|
| Rosace2023_Adalimumab_Kd                | ok       |              14 | 0.0872998 |   1.09122 |  0.778878  |  0.716299   |               0.8 | not_shipped                | not_shipped                |
| gsk2023_D25_Kd                          | ok       |              22 | 0.104195  |   1.1101  |  0.59345   |  0.668325   |               0.4 | not_shipped                          | not_shipped                          |
| Rosace2023_CR3022_Kd                    | ok       |               6 | 0.0872228 |   1.09114 |  0.485714  |  0.317971   |               1   | not_shipped                    | not_shipped                    |
| Hie2022_S309_Kd                         | ok       |              19 | 0.0874957 |   1.09144 |  0.392982  |  0.301641   |               0.4 | not_shipped                         | not_shipped                         |
| Shanehsazzadeh2023_trastuzumab_zero_kd  | ok       |             422 | 0.0875201 |   1.09146 |  0.11398   |  0.0433151  |               0   | not_shipped  | not_shipped  |
| Hie2022_MEDI8852_Kd                     | ok       |              15 | 0.0873963 |   1.09133 |  0.0714286 | -0.353612   |               0.4 | not_shipped                     | not_shipped                     |
| Hie2022_C143_Kd                         | ok       |              16 | 0.0875021 |   1.09144 |  0.0176471 | -0.0521913  |               0.4 | not_shipped                         | not_shipped                         |
| Shanehsazzadeh2023_trastuzumab_multi_kd | ok       |              24 | 0.0873618 |   1.09129 | -0.0130435 |  0.0800655  |               0.2 | not_shipped | not_shipped |
| gsk2023_AM14_Kd                         | ok       |              29 | 0.119525  |   1.12699 | -0.0941003 | -0.0123849  |               0   | not_shipped                         | not_shipped                         |
| Rosace2023_Golimumab_Kd                 | ok       |               5 | 0.0903289 |   1.09455 | -0.1       | -0.00826416 |               1   | not_shipped                 | not_shipped                 |
| Hie2022_REGN10987_Kd                    | ok       |              13 | 0.0874096 |   1.09134 | -0.10729   | -0.252229   |               0.4 | not_shipped                    | not_shipped                    |
| Koenig2017_g6_Kd                        | ok       |            3034 | 0.087909  |   1.09189 | -0.133688  | -0.125251   |               0   | not_shipped                        | not_shipped                        |
| gsk2023_MOTA_Kd                         | ok       |              11 | 0.117449  |   1.12464 | -0.145455  |  0.250833   |               0.2 | not_shipped                         | not_shipped                         |
| Warszawski2019_d44_Kd                   | ok       |            2048 | 0.0882004 |   1.09222 | -0.173682  | -0.117701   |               0   | not_shipped                   | not_shipped                   |
| Hie2022_mAb114_Kd                       | ok       |              20 | 0.0872966 |   1.09122 | -0.17594   | -0.070634   |               0   | not_shipped                       | not_shipped                       |
| Hie2022_MEDI8852UCA_Kd                  | ok       |              20 | 0.0873319 |   1.09126 | -0.178947  | -0.101176   |               0.2 | not_shipped                  | not_shipped                  |
